@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #05070b;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}